<section class="menu-technologies" >

    <div class="contenedor-principal">
        <button id="btnizquierda" #btnizquierda><span class="fas fa-angle-left"></span></button>  
        
         <div class="slider " #slider>
             <div class="container-technologies slider">
                <div class="imagen-technologies">
                  <img src="../../../assets/img/angular.png" alt="" preload="auto">
                </div>
             </div>
             <div class="container-technologies slider">
                <div class="imagen-technologies">
                  <img src="../../../assets/img/nodes.jpg" alt="" preload="auto">
                </div>
             </div>
             <div class="container-technologies slider">
                <div class="imagen-technologies">
                  <img src="../../../assets/img/Bootstrap.jpg" alt="" preload="auto">
                </div>
             </div>  
             <div class="container-technologies slider">
                <div class="imagen-technologies">
                      <img src="../../../assets/img/gits.png" alt="">
                </div>
             </div>  
             <div class="container-technologies slider">
                <div class="imagen-technologies">
                      <img src="../../../assets/img/postman.png" alt="">
                </div>
             </div>
             <div class="container-technologies slider">
                <div class="imagen-technologies">
                      <img src="../../../assets/img/MongoDb2.png" alt="">
                </div>
             </div>
             <div class="container-technologies slider">
                <div class="imagen-technologies">
                      <img src="../../../assets/img/flutter.jpg" alt="">
                </div>
             </div>
             <div class="container-technologies slider">
                <div class="imagen-technologies">
                      <img src="../../../assets/img/scratch.jpg" alt="">
                </div>
             </div>  
             <div class="container-technologies slider">
                <div class="imagen-technologies">
                      <img src="../../../assets/img/js.jpg" alt="">
                </div>
             </div>
             <div class="container-technologies slider">
                <div class="imagen-technologies">
                      <img src="../../../assets/img/azz.png" alt="">
                </div>
             </div>
             <div class="container-technologies slider">
                <div class="imagen-technologies">
                      <img src="../../../assets/img/csharr.png" alt="">
                </div>
             </div>
        </div>

        <button id="btnderecha" #btnderecha><span class="fas fa-angle-right"></span></button>
   </div>
</section>



