<section class="menu-technologies" >
    <div class="contenedor-principal">
        <button id="btnizquierda" #btnizquierda><span class="fas fa-angle-left"></span></button>  
         <div class="slider " #slider>
             <div class="container-technologies slider">
                <div class="imagen-technologies">
                  <img src="../../../assets/img/angular.png" alt="Angular" preload="auto">
                </div>
             </div>
             <div class="container-technologies slider">
               <div class="imagen-technologies">
                 <img src="../../../assets/img/node.jpg" alt="Node js" preload="auto">
               </div>
            </div>
             <div class="container-technologies slider">
                <div class="imagen-technologies">
                  <img src="../../../assets/img/bootstrap.jpg" alt="Bootstrap" preload="auto">
                </div>
             </div>  
             <div class="container-technologies slider">
                <div class="imagen-technologies">
                      <img src="../../../assets/img/git.png" alt="git">
                </div>
             </div>  
             <div class="container-technologies slider">
                <div class="imagen-technologies">
                      <img src="../../../assets/img/postman.png" alt="Postman">
                </div>
             </div>
             <div class="container-technologies slider">
                <div class="imagen-technologies">
                      <img src="../../../assets/img/mongoDB.png" alt="MongoDb2">
                </div>
             </div>
             <div class="container-technologies slider">
                <div class="imagen-technologies">
                      <img src="../../../assets/img/flutter.jpg" alt="Flutter">
                </div>
             </div>
             <div class="container-technologies slider">
                <div class="imagen-technologies">
                      <img src="../../../assets/img/scratch.jpg" alt="Scratch">
                </div>
             </div>  
             <div class="container-technologies slider">
                <div class="imagen-technologies">
                      <img src="../../../assets/img/js.jpg" alt="js">
                </div>
             </div>
             <div class="container-technologies slider">
                <div class="imagen-technologies">
                      <img src="../../../assets/img/azure.png" alt="Azure">
                </div>
             </div>
             <div class="container-technologies slider">
                <div class="imagen-technologies">
                      <img src="../../../assets/img/cshar.png" alt="Cshar">
                </div>
             </div>
        </div>

        <button id="btnderecha" #btnderecha><span class="fas fa-angle-right"></span></button>
   </div>
</section>



