<section id="contacto" itemscope itemtype="http://schema.org/ContactPage">
     <div class="titulo-contacto">
         <h2 class="subtitulos">Quiero conocer tu opinión</h2>
         <h1 class="titulos">Contáctame</h1>
     </div>
 
     <form (submit)="sendMessage($event)" id="formulario" #ngform="ngForm" itemprop="contactPoint">
         <div class="two-fiels">
             <div class="inputConIcon">
                 <input type="text" name="name" id="name" class="input-text" placeholder="Nombre" #nombre="ngModel" [(ngModel)]="form.name" required="true" minlength="3" autocomplete="name">
                 <i class="fas fa-user"></i>
             </div>
 
             <div class="inputConIcon">
                 <input type="email" class="input-email" name="email" id="email" placeholder="Correo electrónico"  #email="ngModel" [(ngModel)]="form.email"  required="true" autocomplete="email">
                 <i class="fas fa-envelope"></i>
             </div>
         </div>
         <div class="fiels">
             <div class="inputConIcon textareaIcon">
                 <textarea class="textarea" name="message" id="message" cols="30" rows="6" placeholder="Mensaje"  #message="ngModel" [(ngModel)]="form.message"  required="true" minlength="15" autocomplete="off"></textarea>
                 <i class="fas fa-comments"></i>
             </div>
         </div>
 
         <div class="fiels-btn">
             <button class="btn btn-input" type="submit" [disabled]="loading() || success() || ngform.invalid">Enviar mensaje</button>
         </div>
         <p *ngIf="loading()">Enviando Mensaje</p>
         <p *ngIf="success() === false">Error enviando mensaje</p>
     </form>
 </section>
 