     <!-- MENU PRINCIPAL -->
     <div class="menu-principal">
        <div class="logo" id="logo" (click)="scrollToTop()">
          <img src="../../../assets/img/logo-anderhenao.png" alt="Logo de Ander Henao">
     </div>

        <div class="menu-bar" #menuBar>
             <i class="fas fa-angle-right" #btnMenuClose></i>

             <nav class="enlaces" #enlaces>
                  <ul>
                    <li><a href="#proyectos">Proyectos</a></li>
                    <li><a href="#aboutme">Sobre mí</a></li>
                    <li><a href="#certificados">Certificados</a></li>
                    <li><a href="#contacto">Contacto</a></li>
                  </ul>
             </nav>

             <div class="sociales">
               <a href="https://www.facebook.com/anderson.henao.562"><span class="fab fa-facebook" alt="Facebook"></span></a>
               <a href="https://www.linkedin.com/in/anderson-henao-35475427b/"><span class="fab fa-linkedin" alt="Linkedin"></span></a>
               <a href="#"><span class="fab fa-instagram" alt="Instagram"></span></a>
               <!-- <a href="#"><span class="fab fa-twitter" alt="Twitter"></span></a> -->
               <a href="#"><span class="fab fa-youtube" alt="YouTube"></span></a>
             </div>
        </div>
        <i class="fas fa-bars" #btnMenuOpen></i>
   </div>