<!-- <section id="aboutme">
    <div class="persona">
        <img src="../../../assets/img/ffotol.jpg" alt="" class="persona-imagen">
         <div class="persona-info">
              <h2 style="color: rgba(98, 119, 137, 0.686);">Anderson Henao</h2>
              <p>Desarrollador de software</p>
              <div class="social-media">
                   <a href=""><span class="fab fa-facebook"></span></a>
                   <a href=""><span class="fab fa-instagram"></span></a>
                   <a href=""><span class="fab fa-twitter"></span></a>
                   <a href=""><span class="fab fa-linkedin-in"></span></a>
              </div>
              <h2 co>¿Quien soy?</h2>
              <p style="color: black;"> un apasionado desarrollador de software con una sólida experiencia y una profunda admiración por la tecnología. Más allá de mi experiencia técnica, mi verdadero valor reside en mis habilidades blandas. Soy un comunicador hábil y empático, capaz de colaborar eficazmente con equipos multidisciplinarios y liderar proyectos hacia el éxito. Mi capacidad para adaptarme rápidamente a los cambios y mi mentalidad de aprendizaje continuo me permiten enfrentar desafíos con confianza y creatividad. En mi página web, encontrarás un repositorio que refleja no solo mis habilidades técnicas, sino también mi dedicación a cultivar relaciones sólidas, fomentar un ambiente de trabajo positivo y promover la innovación. Únete a mí en esta emocionante travesía mientras exploramos juntos el apasionante mundo del desarrollo de software, donde las habilidades blandas son tan cruciales como las habilidades técnicas. ¡Espero conectar contigo pronto! </p>

         </div>
    </div>
</section> -->


<section class="container-fluid" id="aboutme">
     <div class="row persona">
          <div class="col-6">
               <img src="../../../assets/img/ah.jpg" alt="" class="persona-imagen">
               <!-- <img src="../../../assets/img/Foto formal 2023-2.jpg" alt="" class="persona-imagen"> -->
               <img src="../../../assets/img/ander.png" alt="" class="persona-imagen">

          </div>

          <div class="col">
               <div class="persona-info">
                    <h2 style="color: rgba(98, 119, 137, 0.686);">Anderson Henao</h2>
                    <p>Desarrollador de software</p>
                    <div class="social-media">
                         <a href=""><span class="fab fa-facebook"></span></a>
                         <a href=""><span class="fab fa-instagram"></span></a>
                    <a href=""><span class="fab fa-twitter"></span></a>
                    <a href=""><span class="fab fa-linkedin-in"></span></a>
               </div>
               <h2 co>¿Quien soy?</h2>
               <p style="color: black;"> un apasionado desarrollador de software con una sólida experiencia y una profunda admiración por la tecnología. Más allá de mi experiencia técnica, mi verdadero valor reside en mis habilidades blandas. Soy un comunicador hábil y empático, capaz de colaborar eficazmente con equipos multidisciplinarios y liderar proyectos hacia el éxito. Mi capacidad para adaptarme rápidamente a los cambios y mi mentalidad de aprendizaje continuo me permiten enfrentar desafíos con confianza y creatividad. En mi página web, encontrarás un repositorio que refleja no solo mis habilidades técnicas, sino también mi dedicación a cultivar relaciones sólidas, fomentar un ambiente de trabajo positivo y promover la innovación. Únete a mí en esta emocionante travesía mientras exploramos juntos el apasionante mundo del desarrollo de software, donde las habilidades blandas son tan cruciales como las habilidades técnicas. ¡Espero conectar contigo pronto! </p> 
               </div>
          </div>

     </div>
 </section>


