<section class="container-fluid" id="aboutme" itemscope itemtype="http://schema.org/Person">
     <div class="row persona">
          <div class="col-6">
               <img src="../../../assets/img/ander-henao.png" alt="Foto de Anderson Henao" class="persona-imagen" itemprop="image">
          </div>
          <div class="col">
               <div class="persona-info">
                    <h2 itemprop="name">Anderson Henao</h2>
                    <p itemprop="description">Desarrollador de software</p>
                    <div class="social-media">
                         <a  aria-label="Facebook" href="https://www.facebook.com/anderson.henao.562"><span class="fab fa-facebook" alt="Facebook"></span></a>
                         <a  aria-label="LinkedIn" href="https://www.linkedin.com/in/anderson-henao-35475427b/"><span class="fab fa-linkedin" alt="Linkedin"></span></a>
                         <a href="#" aria-label="Instagram"><span class="fab fa-instagram" aria-hidden="true"></span></a>
                         <a href="#" aria-label="Twitter"><span class="fab fa-twitter" aria-hidden="true"></span></a>
                    </div>
                    <h2>¿Quién soy?</h2>
                    <p>Un apasionado desarrollador de software con una sólida experiencia y una profunda admiración por la tecnología. Más allá de mi experiencia técnica, mi verdadero valor reside en mis habilidades blandas. Soy un comunicador hábil y empático, capaz de colaborar eficazmente con equipos multidisciplinarios y liderar proyectos hacia el éxito. Mi capacidad para adaptarme rápidamente a los cambios y mi mentalidad de aprendizaje continuo me permiten enfrentar desafíos con confianza y creatividad. En mi página web, encontrarás un repositorio que refleja no solo mis habilidades técnicas, sino también mi dedicación a cultivar relaciones sólidas, fomentar un ambiente de trabajo positivo y promover la innovación. Únete a mí en esta emocionante travesía mientras exploramos juntos el apasionante mundo del desarrollo de software, donde las habilidades blandas son tan cruciales como las habilidades técnicas. ¡Espero conectar contigo pronto!</p> 
               </div>
          </div>
     </div>
 </section>
