#aboutme{
    height: 100vh;
    display: flex;
}

.persona{
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    transition: all 0.5s;

}

.persona:hover{
    flex-grow: 3;
}

.persona-imagen{
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    filter: grayscale(80%);
}

.persona:hover .persona-imagen{
    filter: grayscale(0%);
}

.persona-info{
    top: 20%;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: all 0.1s;
}


.persona:hover .persona-info{
    opacity: 1;
    bottom: 60px;
    transition-delay: 0.3s;
}

.persona-info h2{
    font-size: 20px;
    color: #000;
    font-weight: 600;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}


.persona-info p{
    color: var(--color-secundario);
    font-size: 17px;
    font-weight: 700;
    font-style: italic;
    margin-top: 8px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 3px rgba(0, 8, 255, 0.5);
    /* text-shadow: 2px 2px 3px rgba(182, 176, 176, 0.5); */
    transition: opacity 0.5s ease, bottom 0.5s ease;

}

.social-media a{
    display: inline-block;
    width: 40px;
    height: 40px;
    color: #fff;
    background: var(--color-secundario);
    line-height: 40px;
    border-radius: 50%;
    margin: 0 5px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.5s;

}


.social-media a:hover{
    color: var(--color-secundario);
    background: transparent;
    transform: scale(2);
}

/* .persona:hover .persona-imagen {
    transition: all 0.5s;
    display: none;

} */

.persona:hover .persona-info {
    opacity: 1; 
    
}

.persona:hover .persona-imagen {
    transition: all 0.5s;
    left: 20%
}


.persona-info {
    transition: opacity 0.5s ease, bottom 0.5s ease;

}

.persona .persona-imagen {
    transition: all 0.5s ease; /* Agregamos una transición suave para la imagen cuando no está en estado hover */
}

.persona:hover .persona-info {
    width: 50%;
    left: 40%
    

}

@media screen and (max-width: 850px) {

.persona:hover .persona-imagen {
    display:none;
    transition: all 0.5 s;
}

.persona:hover .persona-info {
    align-items: center;
    align-content: center;
    max-width: 70%;
    max-width: 90%;
    min-height: auto; 
    width: 80%; 
    left: 10%;
    top: 1%;
}
    
}



@media screen and (max-width: 650px) {

    .persona-info h2{
        font-size: 20px;
        font-weight: 500;
    }
    
    
    .persona-info p{
        font-size: 15px;
        font-weight: 600;
        margin-top: 4px;
        margin-bottom: 15px;
    }
    
    .social-media a{
        display: inline-block;
        width: 40px;
        line-height: 40px;
        border-radius: 50%;
        margin: 0 5px;
        font-size: 18px;
        transition: all 0.5s;
    
    }
    
.persona:hover .persona-imagen {
    display:none;
    transition: all 0.5 s;

}

.persona:hover .persona-info {
    align-items: center;
    align-content: center;
    max-width: 90%;
    max-width: 90%;
    min-height: auto; 
    width: 85%; 
    left: 10%;
    top: 1%;
}
    
}


