<section id="certificados">
      <div class="certi">
           <img src="../../../assets/img/Tecnologo.jpg" alt="" class="imagen-certi">
           <div class="info-certi">
                <p><span class="fas fa-graduation-cap"></span></p>
                <p class="txt-certi">ITM</p>
           </div>
      </div>
  
      <div class="certi">
           <img src="../../../assets/img/Serguridad pc certificado.jpg" alt="" class="imagen-certi">
           <div class="info-certi">
                <p><span class="fas fa-book"></span></p>
                <p class="txt-certi">Udemy</p>
           </div>
      </div>
  
      <div class="certi">
           <img src="../../../assets/img/angular adv certificado.jpg" alt="" class="imagen-certi">
           <div class="info-certi">
                <p><span class="fas fa-user-graduate"></span></p>
                <p class="txt-certi">Udemy</p>
           </div>
      </div>
  
      <div class="certi">
           <img src="../../../assets/img/Azure certificado.jpg" alt="" class="imagen-certi">
           <div class="info-certi">
                <p><span class="fas fa-certificate"></span></p>
                <p class="txt-certi">Udemy</p>
           </div>
      </div>
  </section>
