<section id="ingredientes">
      <div class="ingre">
           <img src="../../../assets/img/Tecnologo.jpg" alt="" class="imagen-ingre">
           <div class="info-ingre">
                <p><span class="fas fa-graduation-cap"></span></p>
                <p class="txt-ingre">ITM</p>
           </div>
      </div>
  
      <div class="ingre">
           <img src="../../../assets/img/Serguridad pc certificado.jpg" alt="" class="imagen-ingre">
           <div class="info-ingre">
                <p><span class="fas fa-book"></span></p>
                <p class="txt-ingre">Udemy</p>
           </div>
      </div>
  
      <div class="ingre">
           <img src="../../../assets/img/angular adv certificado.jpg" alt="" class="imagen-ingre">
           <div class="info-ingre">
                <p><span class="fas fa-user-graduate"></span></p>
                <p class="txt-ingre">Udemy</p>
           </div>
      </div>
  
      <div class="ingre">
           <img src="../../../assets/img/Azure certificado.jpg" alt="" class="imagen-ingre">
           <div class="info-ingre">
                <p><span class="fas fa-certificate"></span></p>
                <p class="txt-ingre">Udemy</p>
           </div>
      </div>
  </section>