#certificados{
    display: flex;
    justify-content: center;
    align-items: center;
}

.certi{
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    height: 250px;
}

.imagen-certi{
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.info-certi{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: rgba(0, 33, 182, 0.2);
    transition: all 0.3s;
}

.info-certi p{
    font-size: 28px;
    color: #fff;
    font-weight: 600;
    transition: all 0.3s;
}

.info-certi:hover{
    background: rgba(0,0,0,0.25);
}

.info-certi:hover p{
    transform: translateY(10px);
}

@media screen and (max-width: 1300px){
    #certificados {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; /* Permitir que los elementos se envuelvan en varias líneas */
    }
    
    .certi {
        flex-basis: 50%; /* Los elementos ocupan el 50% del ancho en pantallas grandes */
        max-width: 50%; /* Limitar el ancho máximo para que no se desborde en pantallas pequeñas */
        overflow: hidden;
        position: relative;
        height: 250px;
    }
}

@media screen and (max-width: 849px) {
    .certi {
        flex-basis: 100%; /* Los elementos ocupan el 100% del ancho en pantallas pequeñas */
        max-width: 100%; /* Eliminar el límite de ancho máximo */
    }
}
