  <section id="certificados">
    <div class="for" *ngFor="let certificado of certificados" class="certi" (click)="openModal(certificado.url)">
      <img [src]="certificado.url" [alt]="certificado.nombre" class="imagen-certi">
        <div class="info-certi">
          <p><span class="fas fa-graduation-cap"></span></p>
          <p class="txt-certi">{{ certificado.nombre }}</p>
        </div>
      </div>

  <div id="modal" class="modal" (click)="closeModal()">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
  </div>
  