 <section id="proyectos" class="container-fluid py-5">
     <div class="row proyectos-titulos">
         <div class="col text-center">
             <h2 class="subtitulos">Ander Henao</h2>
             <h1 class="titulos">Desarollos de software</h1>
         </div>
     </div>
 
     <div class="row proyectos-container">

          <div class="col-md-4 order-md-1">
             <div class="imagen-contenedor imagen-central">
                 <img src="../../../assets/img/code.jpg" alt="" class="img-fluid">
             </div>
         </div>
 
         <div class="col-md-4 order-md-2">
             <div>
                 <div class="items text-center">
                     <p><span class="fas fa-desktop"></span></p>
                     <p class="titulo-item">Academia de Artes APP</p>
                     <p class="texto-item">Aplicativo web de lavanderia desarrollado en Angular y .Net</p>
                 </div>
             </div>
 
             <div>
                 <div class="items text-center">
                     <p><span class="fas fa-laptop"></span></p>
                     <p class="titulo-item">Lavantell APP</p>
                     <p class="texto-item">Aplicativo desarrollado con tecnologías Angular</p>
                 </div>
             </div>
         </div>
 
         <div class="col-md-4">
             <div>
                 <div class="items text-center">
                     <p><span class="fas fa-server"></span></p>
                     <p class="titulo-item">Triquito Game</p>
                     <p class="texto-item">Lorem ipsum dolor sit amet consectetur adipisicing elit, epellendus.</p>
                 </div>
             </div>
 
             <div>
                 <div class="items text-center">
                     <p><span class="fas fa-code"></span></p>
                     <p class="titulo-item">Sistema hospitales APP</p>
                     <p class="texto-item">Lorem ipsum dolor sit amet consectetur adipisicing elit, epellendus.</p>
                 </div>
             </div>
         </div>
     </div>
 </section>
 
 
 
 
 
 
