<!-- <section id="proyectos">
    <div class="proyectos-titulos">
         <h2 class="subtitulos">Ander Henao</h2>
         <h1 class="titulos">Desarrollos de software</h1>
    </div>

    <div class="container-fluid align-items-center">
     <div class="row align-items-center proyectos-container">


          <div class="col">
               <div class="items calidad">
                    <p><span class="fas fa-pizza-slice"></span></p>
                    <p class="titulo-item">Calidad</p>
                    <p class="texto-item">Lorem ipsum dolor sit amet consectetur adipisicing elit, epellendus.</p>
               </div>
               
               <div class="items ingredientes">
                    <p><span class="fas fa-cheese"></span></p>
                    <p class="titulo-item">Ingredientes</p>
                    <p class="texto-item">Lorem ipsum dolor sit amet consectetur adipisicing elit, epellendus.</p>
               </div>
          </div>
 
          <div class="col">
               <div class="imagen-central">
                    <div class="imagen-contenedor">
                         <img src="../../../assets/img/draw.png" alt="">
                    </div>
               </div>
          </div>

          <div class="col">

               <div class="items rapidez">
                    <p><span class="fas fa-clock"></span></p>
                    <p class="titulo-item">Rápidez</p>
                    <p class="texto-item">Lorem ipsum dolor sit amet consectetur adipisicing elit, epellendus.</p>
               </div>
      
               <div class="items delivery">
                    <p><span class="fas fa-shipping-fast"></span></p>
                    <p class="titulo-item">Delivery</p>
                    <p class="texto-item">Lorem ipsum dolor sit amet consectetur adipisicing elit, epellendus.</p>
               </div>
          </div>
     </div>




    </div>

</section> -->

<section id="proyectos">
     <div class="proyectos-titulos">
          <h2 class="subtitulos">Ander Henao</h2>
          <h1 class="titulos">Desaroollos de software</h1>
     </div>
 
     <div class="proyectos-container">
          <div class="imagen-central">
               <div class="imagen-contenedor">
                    <img src="../../../assets/img/code.jpg" alt="">
               </div>
          </div>
 
          <div class="items calidad">
               <p><span class="fas fa-desktop"></span></p>
               <p class="titulo-item">Academia de Artes APP</p>
               <p class="texto-item">Aplicativo web de lavanderia desaroollado en angular y .Net</p>
          </div>
 
          <div class="items ingredientes">
               <p><span class="fas fa-laptop"></span></p>
               <p class="titulo-item">Lavantell APP</p>
               <p class="texto-item">Aplicativo desarrollado con tecnologias angular</p>
          </div>
 
          <div class="items rapidez">
               <p><span class="fas fa-server"></span></p>
               <p class="titulo-item">Triquito Game</p>
               <p class="texto-item">Lorem ipsum dolor sit amet consectetur adipisicing elit, epellendus.</p>
          </div>
 
          <div class="items delivery">
               <p><span class="fas fa-code"></span></p>
               <p class="titulo-item">Sistema hospitales APP</p>
               <p class="texto-item">Lorem ipsum dolor sit amet consectetur adipisicing elit, epellendus.</p>
          </div>
 
 
 
 
     </div>
 
 </section>