 #proyectos{
    height: 100vh;
    background-color: #f1eff6eb;
    padding: 40px;
}

.proyectos-tiulos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 50%;

    
}

.imagen-central:hover{
    cursor: pointer;
    transform: scale(1.1);
}


.items span {
    width: 95px;
    font-size: 40px;
    color: var(--color-secundario);
    padding: 20px;
    border: 5px double #dedede;
    border-radius: 50%;
    text-align: center;
    transition: all 0.5s;
}

.items span:hover {
    background: var(--color-secundario);
    color: #FFF;
}

.items .titulo-item {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.items .texto-item {
    font-size: 15px;
    color: var(--color-texto);
    text-align: center;
    font-style: italic;
    padding: 0 20px;
}

@media screen and (max-width: 850px) {
    #proyectos {
        height: auto;
    }

    .proyectos-container {
        margin-top: 50px;
    }

    .imagen-central {
        margin: 5%;
    }
}

@media screen and (max-width: 650px) {
    .imagen-central {
        display: none;
    }
}
