<section id="proyectos" class="container-fluid py-5">
    <div class="row proyectos-titulos">
        <div class="col text-center">
            <h2 class="subtitulos">Ander Henao</h2>
            <h1 class="titulos">Desarrollos de software</h1>
        </div>
    </div>

    <div class="row proyectos-container">

        <div class="col-md-4 order-md-1">
            <div class="imagen-contenedor imagen-central">
                <img src="../../../assets/img/code.jpg" alt="Desarrollo de software" class="img-fluid">
            </div>
        </div>

        <div class="col-md-4 order-md-2">
            <div>
                <div class="items text-center">
                    <p><span class="fas fa-desktop"></span></p>
                    <p class="titulo-item">Academia de Artes APP</p>
                    <p class="texto-item">Registra tus notas de manera rápida y sencilla con mi aplicación para academias de artes. Desarrollé esta plataforma usando Angular, Node.js y AWS, para ayudarte a mantener un seguimiento organizado de tus calificaciones y progresos académicos.</p>
                </div>
            </div>

            <div>
                <div class="items text-center">
                    <p><span class="fas fa-laptop"></span></p>
                    <p class="titulo-item">Lavantell APP</p>
                    <p class="texto-item">Simplifica tu vida con mi aplicación de lavandería. Desarrollé esta solución utilizando tecnologías modernas como Angular, Azure y .NET, para brindarte una experiencia de lavandería fácil y conveniente.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div>
                <div class="items text-center">
                    <a class="titulo-item" href="https://scratch.mit.edu/projects/548385861/" target="_blank"><span class="fas fa-server"></span></a>
                    <p class="titulo-item">Triquito Game</p>
                    <p class="texto-item">¡Disfruta de mi juego de triqui o tres rayas! Desarrollé este divertido juego en Scratch para que tú y tus amigos puedan desafiarse mutuamente y pasar momentos entretenidos juntos.</p>
                </div>
            </div>

            <div>
                <div class="items text-center">
                    <p><span class="fas fa-code"></span></p>
                    <p class="titulo-item">Sistema hospitales APP</p>
                    <p class="texto-item">Gestiona tu hospital de forma eficiente con mi completo sistema de gestión. Desde la administración de usuarios hasta la generación de informes, desarrollé esta aplicación para asegurarme de que puedas brindar la mejor atención médica posible.</p>
                </div>
            </div>
        </div>
    </div>
</section>
