<footer>
  <div class="container-fluid text-center text-white bg-dark py-4">
    <div class="row">
      <div class="col-md-6 mb-3">
        <div class="row align-items-center">
          <div class="col">
            <i class="fas fa-map-marker-alt"></i>
            <span> Bello (Antioquia)</span>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col">
            <i class="fas fa-envelope"></i>
            <span> ahenao329&#64;hotmail.com</span>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col">
               <i class="fas fa-phone"></i>
            <span> +57 3016865905</span>
          </div>
        </div>
      </div>
   
      <div class="col-md-6 mb-3 align-content-center">
        <div class="row">
          <div class="col">
            <p>Todos los derechos &#64; Ander Henao <span id="anio">2024</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

